
body {
  text-align: center;
}

.input-area {
  display: center;
  justify-content: center;
}

input {
  width: 40rem;
  height: 5rem;
  font-size: 4rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
button {
  font-size: 2.4rem;
  width: 100%;
  height: 5rem;
  border-radius: 1rem;
  text-align: center;
}


div {
  display: flex;
  justify-content: center;
}
ul {
  padding: 0;
  list-style-type: none;
  display: grid;
  background-color: grey;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  width: 50%;
  border: 6px solid black;
  border-radius: 1rem;
  padding: 1rem;
  gap: 1rem;
}

li {
  display: flex;
  justify-content: center;
}


/* minux sign */
li:nth-child(10) {
  grid-column: 4 / -1;
  grid-row: 1 / 2;
}

/* plus sign */
li:nth-child(11){
  grid-column: 4 / -1;
  grid-row: 2 / 3;
}

