
body {
  text-align: center;
  background-color: antiquewhite;
}

.input-area {
  display: center;
  justify-content: center;
}

input {
  width: 40rem;
  height: 5rem;
  font-size: 4rem;
}

button {
  cursor: pointer;
}

.svg-button {
  background-color: transparent;
  border: none;
  width: fit-content;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
button {
  font-size: 2.4rem;
  width: 100%;
  height: 5rem;
  border-radius: 1rem;
  text-align: center;
}

ul {
  padding: 0;
  list-style-type: none;
  display: grid;
  background-color: grey;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
  width: 50%;
  border: 6px solid black;
  border-radius: 1rem;
  padding: 1rem;
  gap: 1rem;
}
.buttons {
    margin: 0 auto;
    margin-top: 1rem;
}


li {
  display: flex;
  justify-content: center;
}

li:nth-child(1) {
  grid-column:1 / 2;
  grid-row: 3 / 4;
}

li:nth-child(2) {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

li:nth-child(3) {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
}

li:nth-child(4) {
  grid-row: 2 / 3;
}

li:nth-child(5) {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

li:nth-child(6) {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}

li:nth-child(10) {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
}

li:nth-child(12) {
  grid-column: 5 / 6;
}

li:last-child {
  grid-column: 4 / 3;
}

li:nth-child(14) {
  grid-column: 4 / 5;
  grid-row: 2 / 3;
}
